#barbie{
    background: #FF69B4;
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
}

#container {
    background-color: black;
}

#oppie{
    background: rgb(99, 99, 99);
    width: 50%;
    height: 100%;
    float: right;
    text-align: center;
}

img {
    width: 50%;
    height: 35%;
}

table, tr, td  {
    border-color: black;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    td {
        width: 200px;
    }
}

.table {
    margin-top: 10%;
}

#barbie-table {
    float: right;
    margin-right: 0.1%;
}

#oppie-table{
    float: left;
    margin-left: 0.1%;
}

#oppie-page{
    background: rgb(99, 99, 99);
}

#barbie-page{
    background: #FF69B4;
}

#info {
    width: 40%;
    float: right;
}

#images{
    width: 60%;
    float:left;
    text-align: center;
}
