body {
    background-color: black;
}

#header {
    .left {
        float: left;
        background-image: url(barbenheimer.jpg);
        background-size: cover;
        width: 50%;
        height: 100%;
    }
    .right {
        float: right;
        color: white;
        text-align: center;
        width: 50%;
        height: 100%;
        .text {
            padding-top: 45%;
        }
    }
}

#the-battle {
    color: white;
    text-align: center;
    padding-top: 60%;
    height: 50%;
    
    .text {
        margin: 10%;
    }
}

#barbie{
    text-align: center;
    padding-top: 10%;
    .left {
        float: left;
        color: white;
        width: 50%;
        height: 50%;
        padding-top: 10%;
    }
    .right {
        float: right;
        color: white;
        text-align: center;
        width: 50%;
        height: 50%;
        background: #FF69B4;
        padding-top: 10%;
    }
}

#oppie{
    text-align: center;
    .left {
        float: left;
        background: rgb(99, 99, 99);
        color: white;
        text-align: center;
        width: 50%;
        height: 50%;
        padding-top: 2.5%;
        .text {
            padding-top: 45%;
        }
    }
    .right {
        float: right;
        width: 50%;
        height: 50%;
        padding-top: 5%;
    }
}

#barbie-header {
    .left {
        float: left;
        background-image: url(barbie-poster.jpg);
        background-size: cover;
        width: 50%;
        height: 100%;
    }
    .right {
        float: right;
        color: white;
        text-align: center;
        width: 50%;
        height: 100%;
        .text {
            padding-top: 45%;
        }
    }
}

#oppie-header {
    .left {
        float: left;
        background-image: url(oppie-poster.jpg);
        background-size: cover;
        width: 50%;
        height: 100%;
    }
    .right {
        float: right;
        color: white;
        text-align: center;
        width: 50%;
        height: 100%;
        .text {
            padding-top: 45%;
        }
    }
}

table, tr, td  {
    border-color: black;
    border: 1px solid black;
    text-align: center;
    color: white;
    margin: auto;
    td {
        width: 200px;
    }
}

.table {
    margin-top: 10%;
}


#oppie-page{
    background: rgb(99, 99, 99);
}

#barbie-page{
    background: #FF69B4;
}

#info {
    width: 40%;
    float: right;
}

#images{
    width: 60%;
    float:left;
    text-align: center;
}

.displayer {
    display: show;
}

.hider {
    display: none;
}